<!-- TODO -->
<div id="<%= dom_id customer %>">

  <tr>
    <!-- TODO custom id -->
    <th scope="row"><%= customer.id %></th>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td>
        <%= link_to "Show", customer %>
    </td>
    <td>
        <%= link_to "Edit", edit_customer_path(customer) %>
    </td>
     <td>
        <%= button_to "Delete", customer, method: :delete, class:"btn btn-danger", form: { data: { turbo_confirm: 'Are you sure?' } } %>
    </td>
  </tr>

</div>